*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
    color: white;
    text-align: center;
}

main{
    height: 100vh;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.container{
    width: var(--dimensioneGrid);
    height: 80%;
    
}

.square{
    width: var(--latosquare);
    height: var(--latosquare);
    border: 1px solid white;
    float: left;
}

.clicked{
    background-color: aqua;
    color: black;
}